*{
	padding: 0;
	margin: 0;
}

body{
	width: 960px;
	margin: 0 auto;;
	background-color: #fff;
}

#header{
	width: auto;
	height: 150px;
	border: 2px solid gray;
	margin: 10px 0;
}

ul{
	list-style-type: none;
}

h2{
	background: #eee;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
}

#header h1{
	font-size: 12px;
	width: 210px;
	height: 39px;
	background: url(../../img/logo1.jpg) no-repeat;
	margin: 50px 0 0 50px;
}

#header h1 a{
	width: 210px;
	height: 39px;
	display: block;
	text-indent: -9999px;
}

#header ul{
	text-align: right;
	padding: 20px 50px 0 0;
}

#header ul li{
	display: inline;
	margin-left: 8px;
}

#header ul li a{
	text-decoration: none;
	color: #333;
}
#header ul li a:hover{
	text-decoration:underline;
	color: orangered;
}

#header ul li strong.read{
	background: url(../../img/read.jpg) no-repeat ;
}

#footer{
	clear: both;
	width: auto;
	height: 60px;
	text-align: center;
	padding: 10px 0 0 0;
}

#footer p{
	font-size: 2px;
	letter-spacing: 1px;
	padding: 5px 0 0 0;
}

#footer p span{
	color: #06f;
}
