#member{
	width: auto;
	height: 600px;
	border: 2px solid gray;
	font-size: 12px;
}
#member h2{
	height: 30px;
	line-height: 30px;
	text-indent: 0px;
	text-align: center;
}
#member #member_sidebar{
	width: 300px;
	height: 520px;
	border: 1px dashed #999;
	margin: 15px;
	float: left;
}
#member #member_sidebar dl{
	width: 250px;
	background: red;
	margin: 15px auto;
}
#member #member_sidebar dl dt{
	height: 40px;
	line-height: 40px;
	background: #999;
	font-weight: bold;
	text-align: center;
}
#member #member_sidebar dl dd{
	height: 40px;
	line-height: 40px;
	background: #eee;
	font-weight: bold;
	text-align: center;
}
#member #member_sidebar dl dd a{
	display: block;
	color: #333;
	text-decoration: none;
}
#member #member_sidebar dl dd a:hover{
	color:#ccc;
}
#member #member_main{
	width: 590px;
	height: 520px;
	border: 1px dashed #999;
	margin: 15px;
	float: right;
}
#member #member_main table{
	width: 90%;
	margin: 10px auto;
	text-align: center;
	background: #ccc;
	margin-bottom: 0px;
} 
#member #member_main table th,#member #member_main table td{
	height: 25px;
	line-height: 25px;
	background: #fff;
}
#member #member_main table td a{
	text-decoration: none;
	color: #333;
}
#member #member_main table td a:hover{
	text-decoration: underline;
	color: #999;
}

